.create-new-note {
    background-color: black;
    color: whitesmoke;
    position: fixed;
    left: 80%;
    top: 5%;
    width: 120px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}

.white-board {
    padding: 30px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
